@reference "../../index.css";

.section_header {
  @apply bg-bge relative z-10;
  border-bottom: 1px solid var(--color-bge-alt);
}

.header_content {
  @apply w-full flex justify-between items-center;
  height: 56px;
}

.header_logo {
  @apply w-full;
  max-width: 220px;
}
.header_logo-img {
  width: 92px;
  height: 35.5px;
}

.header_nav {
  @apply flex gap-7;
}

.header_actions {
  @apply w-full flex justify-end items-center gap-5;
  max-width: 220px;
}

.header_nav-link,
.header_signin {
  @apply font-medium text-small;
  line-height: 24px;
}

.header_cta {
  @apply bg-accent font-medium text-small flex items-center h-[40] py-2.5 px-5;
  border-radius: 6px;
  cursor: pointer;
}
